<div class="main_form">
  <div class="followers">
   <% @followings.each do |user| %>
      <div class="follower_icon">
        <div class='user_image_follow'>
          <% if user.user_image.attached? %>
            <%= image_tag user.user_image , class: "user_image_follows"%> 
          <% else %>
            <%= image_tag ( "photo.jpg") , class: "user_image_follows" %> 
          <% end%>
          <div class="follower_name">
            <%= link_to user.name, [user] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>