// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.user_image {
  height: 26vh;
  width: 20vw;
  border-radius: 50%;
}